	<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script>
		if($('.success').length>0){
			$('.success').fadeOut(1500)
		}	
		if($('.error').length>0){
			$('.error').fadeOut(1500)
		}	
	</script>
</body>
</html>