<%- include('header') %>
<div class="container">
	<form method="post" enctype="multipart/form-data">
		<div>用户名： <input placeholder="用户名" type="text" name="name"></div>
		<div>密码：<input type="password" name="password"></div>
		<div><input type="submit" value="登录"></div>
	</form>
</div>
<%- include('footer') %>